.dashboard {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.dashboard__navbar {
    background-color: cadetblue;
}

.dashboard__main-content {
    width: 100%;
}

.dashboard__main-content {
    padding: 10px;
}
