.animals {
    height: 80%;
}

.animals__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*margin: 25px 15px;*/
}

.animals__header div {
    margin: 0;
}


